// GRADIENT MIXIN
@mixin gradient {
   background: linear-gradient(
      to right,
      rgba($primary-dark, 0.95),
      rgba($primary-light, 0.95)
   );
}
@mixin media-max-sm {
   @media #{$smDown} {
      @content;
   }
}
@mixin media-min-md {
   @media #{$mdUp} {
      @content;
   }
}
@mixin absoluteCenter {
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
}
