.display-2 {
   margin-bottom: 1rem;
   text-transform: capitalize;
   &--intro {
      display: block;
      font-weight: 700;
   }
   &--description {
      font-size: 1.4rem;
      line-height: 1.5;
      display: block;
      padding-top: 1.2rem;
      @include media-min-mb {
         font-size: 1.8rem;
         display: inline-block;
      }
   }
}
// HEADING UNDERLINE
.heading-line {
   &::before {
      content: "";
      width: 10rem;
      height: 0.1rem;
      display: block;
      background-color: $primary-dark;
      margin: 0 auto;
   }
   &::after {
      content: "";
      width: 2.5rem;
      height: 0.5rem;
      display: block;
      background-color: $primary-dark;
      margin: 0 auto;
      margin-bottom: 1rem;
   }
}

// DISPLAY-3
.display-3--title {
   font-size: 1.8rem;
   text-transform: capitalize;
   font-weight: 600;
   display: inline-block;
   background: linear-gradient(to right, $primary-dark, $primary-light);
   background-clip: text;
   -webkit-text-fill-color: transparent;
}

.border-right {
   border-right: 0.1rem solid rgba(128, 128, 128, 0.384);
}
